/* 1100px */
@media (max-width:68.75em) {

    .paragraph {
        font-size: 2rem;
    }

    .grid-3 {
        column-gap: 2.4rem;
        row-gap: 2.4rem;
    }
    .about-hero{
        height: calc(100vh - 81px);
    }
    .about-text{
        width: 50%;
    }
}

/* 1022px */
@media (max-width:64em) {
    html {
        font-size: 60%;
    }

    .container {
        margin-left: 6%;
        margin-right: 6%;

    }

    .table {
        margin-top: 4.4rem;
        margin-bottom: 8rem;
    }

    .dish-discription {
        height: 16rem;
    }

    .table-row .dish-price {
        width: 10rem;
    }
}


/* 940px */
@media (max-width:58.75em) {
    .logo {
        font-size: 3rem;
    }

    .hero .btn {
        font-size: 1.6rem;
        padding: 0.8rem 1.6rem;
    }

    .paragraph {
        font-size: 1.8rem;
    }

    .img-container img {
        transform: translate(28px, 28px);
    }


    .container {
        margin-left: 8%;
        margin-right: 8%;
    }

    .dish-discription {
        height: 10rem;
    }

    .menu .grid-3 {
        grid-template-columns: repeat(2, 1fr);
    }

    .about-hero{
        height: calc(100vh - 78px);
    }
    .chefs .title{
        font-size: 3rem;
        line-height: 1.4;
    }
    .chef-name{
        font-size: 1.8rem;
    }
    .chefs .grid-3 {
        column-gap: 3.2rem;
    }
}

/* 860px */
@media (max-width:53.75em) {
    .about-text{
        width: 55%;
    }
    .chefs .title{
        font-size: 2.4rem;
        margin-bottom: 3.2rem;
    }
    .chef-name{
        font-size: 2rem;
    }
    .chefs .grid-3 {
        column-gap: 2.4rem;
    }
}

/* 760px  */
@media (max-width: 47.5em) {
    .nav-active {
        display: grid !important;
    }

    .full-nav {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1;
        height: 100vh;
        width: 100%;
    }

    .nav-links {
        visibility: hidden;
        opacity: 0;
        pointer-events: none;
        transform: translate(-50%, -50%);
        position: absolute;
        top: 50%;
        left: 50%;
        height: 100%;
        flex-direction: column;
        padding: 12rem 0rem;
    }

    .hide-nav {
        visibility: visible;
        opacity: 1;
        pointer-events: all;
        overflow-y: hidden;
    }

    .hero{
        background-position: initial;
    }
    .hero .btns-container{
        display: flex;
        flex-direction: column;
        row-gap: 1.8rem;
    }
    .hero .btns-container .btn{
       display: grid;
       place-content: center;
       font-weight: 500;
    }

    .menu .dark-paragraph {
        width: 85%;
    }

    /* Admin page dish-list */
    .table-row {
        column-gap: 1.6rem;
        padding: 1rem 2rem;
    }

    .meal-img {
        width: 5rem;
        height: 5rem;
    }

    .meal-title {
        font-weight: 500;
        text-transform: capitalize;
        margin-right: auto;
    }

    .meal-ratting {
        column-gap: 1.2rem;
        font-size: 2rem;
    }

    .table-row .dish-price {
        width: 8rem;
        font-size: 2.2rem;
        margin-right: 0.8rem;
    }

    .meal-actions {
        column-gap: 1.2rem;
    }

    .meal-actions img,
    img {
        width: 2.4rem;
        height: 2.4rem;
    }

    #orders .dark-paragraph {
        width: 85%;
    }
    .about-hero{
        height: calc(100vh - 75px);
    }
    .chef img{
        width: 100%;
        height: 90%;
    }
}

/* 660px */
@media (max-width:660px) {

    .paragraph {
        font-size: 1.6rem;
    }

    html {
        font-size: 55%;
    }

    .title {
        font-size: 3rem;
        margin-bottom: 2rem;
    }

    #cart .table {
        margin-bottom: 6.4rem;
    }

    .dish-discription {
        height: 14rem;
    }

    .container {
        margin-left: 5%;
        margin-right: 5%;
    }

    .menu {
        margin-top: 4.4rem;
        margin-bottom: 4.4rem;
    }

    footer .grid-3 {
        grid-template-columns: repeat(2, 1fr);
    }

    footer .grid-3 .contact {
        grid-column: 2/3;
        grid-row: 1/2;
    }

    footer .grid-3 .pages {
        align-items: baseline;
        grid-column: 1/3;
        margin-top: 2.6rem;
    }

    footer .grid-3 .pages ul {
        display: flex;
        column-gap: 2.6rem;
    }

    .sm-links {
        margin-top: 2.6rem;
    }

    .dish-info {
        padding-bottom: 1.2rem;
    }

    .dish-title {
        flex-direction: column;
    }

    .dish-price {
        margin-top: 1.2rem;
    }

    #cart {
        margin-top: 6.4rem;
        margin-bottom: 6.4rem;
    }

    #cart .table-row {
        padding: 0.8rem 1.6rem;
        column-gap: 1.2rem;
    }

    #cart .table-row input {
        margin-left: 0;
        font-size: 1.8rem;
        width: 4rem;
    }

    .meal-ratting {
        column-gap: 0.8rem;
    }
    .about-hero{
        height: calc(100vh - 69.22px);
    }
    .about-text{
        width: 60%;
        margin-left: 6%;
        margin-top: 6.2rem;
    }
}

/* 550px */
@media (max-width: 34.375em) {

    .hero .btns-container {
        flex-direction: column;
        row-gap: 2.4rem;
    }

    .hero .content {
        margin-top: 4.8rem;
    }
    .hero-text .paragraph{
        width: 100%;
    }

    .form {
        padding: 3.2rem;
    }

    .table-row {
        column-gap: 1.2rem;
        padding: 00.8rem 1.6rem;
    }

    #cart .table-row {
        padding: 0.8rem;
        column-gap: 0.8rem;
    }

    #cart .meal-title {
        display: none;
    }

    #cart .meal-img {
        margin-right: auto;
    }

    .menu .dark-paragraph,
    #orders .dark-paragraph {
        width: 100%;
    }

    .img-con {
        height: 45%;
    }

    .dish-info {
        height: 55%;
    }

    .dish-discription {
        height: 18rem;
    }

    footer .grid-3 {
        grid-template-columns: 1fr;
    }

    footer .grid-3 .contact {
        grid-column: initial;
        grid-row: initial;
    }

    footer .grid-3 .pages {
        grid-column: initial;
        margin-top: 2rem;
    }

    .about-text{
        width: 70%;
    }
    .stats .grid-3{
        grid-template-columns: repeat(2, 1fr);
    }
    .chefs .grid-3{
        grid-template-columns: 1fr;
    }
    .chef img{
        width: 75%;
        height: 85%;
    }
}

/* 440px */
@media (max-width: 27.5em) {
    body{
        font-size: 2rem;
    }
    .logo {
        font-size: 2.4rem;
    }

    .menu .grid-3,  .stats .grid-3{
        grid-template-columns: 1fr;
    }
    .img-con,
    .dish-info {
        height: 50%;
    }

    .dish-info {
        padding-bottom: 2.4rem;
    }

    .dish-title {
        flex-direction: row;
        font-size: 2.4rem;
    }

    .dish-discription {
        height: 10rem;
    }

    .fillters.btns-container {
        row-gap: 1.8rem;
        column-gap: 1.8rem;
    }

    #orders .meal-img,
    .extra-dishes {
        width: 4.5rem;
        height: 4.5rem;
    }

    #orders .table-row {
        padding-left: 0.8rem;
        column-gap: 0.8rem;
    }

    #orders .dish-price {
        font-size: 2rem;
    }
    .about-hero{
        height: calc(100vh - 66px);
    }
    .about-text{
        margin-left: 8%;
        margin-right: 8%;
        width: auto;
    }
}

@media (max-width: 360px) {
    html {
        font-size: 51%;
    }
    .about-hero{
        height: calc(100vh - 62px);
    }
}