/* 1100px */
@media (max-width:68.75em) {
    .header {
        font-size: 4.4rem;
        margin-bottom: 2.4rem;
    }

    .paragraph {
        font-size: 2rem;
    }

    .grid-3 {
        column-gap: 2.4rem;
        row-gap: 2.4rem;
    }
}

/* 1022px */
@media (max-width:64em) {
    html {
        font-size: 60%;
    }

    .container {
        margin: 0rem 6%;
    }
    .table{
        margin-top: 4.4rem;
        margin-bottom: 8rem;
    }

    .dish-discription {
        height: 16rem;
    }
}


/* 940px */
@media (max-width:58.75em) {
    .logo {
        font-size: 3rem;
    }

    .hero .btn {
        font-size: 1.6rem;
        padding: 0.8rem 1.6rem;
    }

    .header {
        font-size: 3.6rem;
        margin-bottom: 2.4rem;
    }

    .paragraph {
        font-size: 1.8rem;
    }

    .img-container img {
        transform: translate(28px, 28px);
    }


    .container {
        margin: 0 8%;
    }
    .table{
        margin-top: 4.4rem;
        margin-bottom: 8rem;
    }

    .dish-discription {
        height: 10rem;
    }

    .menu .grid-3 {
        grid-template-columns: repeat(2, 1fr);
    }
}
/* 860px */
@media (max-width:53.75em) {

    .header {
        font-size: 3.2rem;
        margin-bottom: 2.4rem;
    }

    .paragraph {
        font-size: 1.6rem;
    }

    .hero .content {
        margin-top: 4.8rem;
    }

    .hero .btns-container {
        flex-direction: column;
        row-gap: 2rem;
    }

    .hero .btns-container .btn {
        width: 100%;
        text-align: center;

    }

    @media (min-height:700px) {
        .hero {
            height: 550px;
        }
    }
}

/* 760px  */
@media (max-width: 47.5em) {
    .nav-active {
        display: grid !important;
    }

    .full-nav {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1;
        height: 100vh;
        width: 100%;
    }

    .nav-links {
        visibility: hidden;
        opacity: 0;
        pointer-events: none;
        transform: translate(-50%, -50%);
        position: absolute;
        top: 50%;
        left: 50%;
        height: 100%;
        flex-direction: column;
        padding: 9.6rem 0rem;
    }

    .hide-nav {
        visibility: visible;
        opacity: 1;
        pointer-events: all;
        overflow-y: hidden;
    }



    /* Admin page dish-list */
    .table-row {
        column-gap: 1.6rem;
        padding: 1rem 2rem;
    }
    
    .meal-img {
        width: 5rem;
        height: 5rem;
    }
    
    .meal-title {
        font-weight: 500;
        text-transform: capitalize;
        margin-right: auto;
    }
    
    .meal-ratting {
        column-gap: 1.2rem;
        font-size: 2rem;
    }
    
    .table-row .dish-price {
        width: 8rem;
        font-size: 2.2rem;
    }
    
    .meal-actions {
        column-gap: 1.2rem;
    }
    .meal-actions img,
    img {
        width: 2.4rem;
        height: 2.4rem;
    }
}
/* 660px */
@media (max-width:660px) {
    html {
        font-size: 55%;
    }

    .dish-discription {
        height: 14rem;
    }
}